In [1]:
!pip install pandas

Requirement already satisfied: pandas in /Users/benithasripanchagiri/ds-venv/lib/python3.13/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /Users/benithasripanchagiri/ds-venv/lib/python3.13/site-packages (from pandas) (2.2.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/benithasripanchagiri/ds-venv/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/benithasripanchagiri/ds-venv/lib/python3.13/site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /Users/benithasripanchagiri/ds-venv/lib/python3.13/site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in /Users/benithasripanchagiri/ds-venv/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: pip install --upgrade pip

In [4]:
#Loading the dataset and checking
import pandas as pd

df = pd.read_csv("studentsgrade.csv")
print(df.head())
print(df.info())

  Student_ID First_Name Last_Name                    Email  Gender  Age  \
0      S1000       Omar  Williams  student0@university.com  Female   22
1      S1001      Maria     Brown  student1@university.com    Male   18
2      S1002      Ahmed     Jones  student2@university.com    Male   24
3      S1003       Omar  Williams  student3@university.com  Female   24
4      S1004       John     Smith  student4@university.com  Female   23

    Department  Attendance (%)  Midterm_Score  Final_Score  ...  \
0  Engineering           52.29          55.03        57.82  ...
1  Engineering           97.27          97.23        45.80  ...
2     Business           57.19          67.05        93.68  ...
3  Mathematics           95.15          47.79        80.63  ...
4           CS           54.18          46.59        78.89  ...

   Projects_Score  Total_Score  Grade  Study_Hours_per_Week  \
0           85.90        56.09      F                   6.2
1           55.65        50.64      A                  19.0
2           73.79        70.30      D                  20.7
3           92.12        61.63      A                  24.8
4           68.42        66.13      F                  15.4

   Extracurricular_Activities Internet_Access_at_Home  Parent_Education_Level  \
0                          No                     Yes             High School
1                          No                     Yes                     NaN
2                          No                     Yes                Master's
3                         Yes                     Yes             High School
4                         Yes                     Yes             High School

  Family_Income_Level Stress_Level (1-10) Sleep_Hours_per_Night
0              Medium                   5                   4.7
1              Medium                   4                   9.0
2                 Low                   6                   6.2
3                High                   3                   6.7
4                High                   2                   7.1

[5 rows x 23 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Student_ID                  5000 non-null   object
 1   First_Name                  5000 non-null   object
 2   Last_Name                   5000 non-null   object
 3   Email                       5000 non-null   object
 4   Gender                      5000 non-null   object
 5   Age                         5000 non-null   int64
 6   Department                  5000 non-null   object
 7   Attendance (%)              4484 non-null   float64
 8   Midterm_Score               5000 non-null   float64
 9   Final_Score                 5000 non-null   float64
 10  Assignments_Avg             4483 non-null   float64
 11  Quizzes_Avg                 5000 non-null   float64
 12  Participation_Score         5000 non-null   float64
 13  Projects_Score              5000 non-null   float64
 14  Total_Score                 5000 non-null   float64
 15  Grade                       5000 non-null   object
 16  Study_Hours_per_Week        5000 non-null   float64
 17  Extracurricular_Activities  5000 non-null   object
 18  Internet_Access_at_Home     5000 non-null   object
 19  Parent_Education_Level      3206 non-null   object
 20  Family_Income_Level         5000 non-null   object
 21  Stress_Level (1-10)         5000 non-null   int64
 22  Sleep_Hours_per_Night       5000 non-null   float64
dtypes: float64(10), int64(2), object(11)
memory usage: 898.6+ KB
None

# Some interesting relations
- A good Relationship_with_Manager might correlate with higher Work_Environment_Satisfaction.
- You can explore if employees in Manager or Executive roles stay longer (high Years_at_Company) than employees in Assistant roles.
- You can analyze if employees with lower Job Satisfaction are more likely to leave (i.e., Attrition = "Yes").

# Features that I would like to predict:
- Predict the Job Satisfaction level (possibly categorized as Low, Medium, High) based on other employee features.
- Predict whether an employee works Overtime based on other features like Job Role, Years at Company, or Absenteeism.
- Predict the Job Satisfaction level (possibly categorized as Low, Medium, High) based on other employee features.

In [9]:
#Checking for null values and duplicat values to clean the dataset
print(f"Missing values :\n {df.isnull().sum()}")
print(f"Duplicated values : {df.duplicated().sum()}")

Missing values :
 Student_ID                       0
First_Name                       0
Last_Name                        0
Email                            0
Gender                           0
Age                              0
Department                       0
Attendance (%)                 516
Midterm_Score                    0
Final_Score                      0
Assignments_Avg                517
Quizzes_Avg                      0
Participation_Score              0
Projects_Score                   0
Total_Score                      0
Grade                            0
Study_Hours_per_Week             0
Extracurricular_Activities       0
Internet_Access_at_Home          0
Parent_Education_Level        1794
Family_Income_Level              0
Stress_Level (1-10)              0
Sleep_Hours_per_Night            0
dtype: int64
Duplicated values : 0

## Missing and Duplicate values
After checking for missing values and duplicat values to clean the dataset, we found columns **Attendance**, **Parents_Education_Level** and **Assignments_Avg** are having missing values and there are no duplicated values.

We can either fill or drop the columns with missing values.
We will drop the **Parents_Education_Level** column and fill the **Attendance** and **Assignments_Avg** columns.

In [10]:
#DataCleaning
# Fill missing values in numerical columns with the mean.

df['Attendance (%)'] = df['Attendance (%)'].fillna(df['Attendance (%)'].mean())
df['Assignments_Avg'] = df['Assignments_Avg'].fillna(df['Assignments_Avg'].mean())

print(f"Missing values :\n {df.isnull().sum()}")

Missing values :
 Student_ID                       0
First_Name                       0
Last_Name                        0
Email                            0
Gender                           0
Age                              0
Department                       0
Attendance (%)                   0
Midterm_Score                    0
Final_Score                      0
Assignments_Avg                  0
Quizzes_Avg                      0
Participation_Score              0
Projects_Score                   0
Total_Score                      0
Grade                            0
Study_Hours_per_Week             0
Extracurricular_Activities       0
Internet_Access_at_Home          0
Parent_Education_Level        1794
Family_Income_Level              0
Stress_Level (1-10)              0
Sleep_Hours_per_Night            0
dtype: int64

### The columns **Attendance** and **Assignments_Avg** are filled.

In [11]:
#Dropping Parents_Education_Level column
df.dropna(subset=['Parent_Education_Level'], inplace=True)

print(f"Missing values :\n {df.isnull().sum()}")

Missing values :
 Student_ID                    0
First_Name                    0
Last_Name                     0
Email                         0
Gender                        0
Age                           0
Department                    0
Attendance (%)                0
Midterm_Score                 0
Final_Score                   0
Assignments_Avg               0
Quizzes_Avg                   0
Participation_Score           0
Projects_Score                0
Total_Score                   0
Grade                         0
Study_Hours_per_Week          0
Extracurricular_Activities    0
Internet_Access_at_Home       0
Parent_Education_Level        0
Family_Income_Level           0
Stress_Level (1-10)           0
Sleep_Hours_per_Night         0
dtype: int64

### **Parents_Education_Levels** has been dropped. And now the dataset is clean.
### We will work on creating training and testing sets.

In [12]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in /Users/benithasripanchagiri/ds-venv/lib/python3.13/site-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in /Users/benithasripanchagiri/ds-venv/lib/python3.13/site-packages (from scikit-learn) (2.2.1)
Requirement already satisfied: scipy>=1.6.0 in /Users/benithasripanchagiri/ds-venv/lib/python3.13/site-packages (from scikit-learn) (1.15.2)
Requirement already satisfied: joblib>=1.2.0 in /Users/benithasripanchagiri/ds-venv/lib/python3.13/site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /Users/benithasripanchagiri/ds-venv/lib/python3.13/site-packages (from scikit-learn) (3.5.0)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: pip install --upgrade pip

In [19]:
#Training and Testing sets using scikit learning.
from sklearn.model_selection import train_test_split

train_set, test_set = train_test_split(df, test_size=0.2, random_state=123)
print(f"Train Set :\n{train_set.head()}")
print(f"Test Set :\n{test_set.head()}")

Train Set :
     Student_ID First_Name Last_Name                       Email  Gender  Age  \
514       S1514       Sara  Williams   student514@university.com  Female   20
1921      S2921      Ahmed  Williams  student1921@university.com  Female   19
3999      S4999       Emma   Johnson  student3999@university.com  Female   20
2121      S3121      Maria     Davis  student2121@university.com  Female   18
4742      S5742      Maria  Williams  student4742@university.com  Female   24

       Department  Attendance (%)  Midterm_Score  Final_Score  ...  \
514      Business           91.65          53.79        62.82  ...
1921     Business           68.68          74.46        47.76  ...
3999  Mathematics           90.86          88.60        44.19  ...
2121  Engineering           92.72          49.60        63.92  ...
4742  Engineering           85.80          43.95        53.98  ...

      Projects_Score  Total_Score  Grade  Study_Hours_per_Week  \
514            54.18        58.89      A                  25.5
1921           68.45        89.88      C                  17.2
3999           71.19        81.36      A                  25.0
2121           86.99        77.47      A                   7.3
4742           74.56        89.86      A                  24.7

      Extracurricular_Activities Internet_Access_at_Home  \
514                           No                     Yes
1921                         Yes                     Yes
3999                          No                      No
2121                          No                     Yes
4742                          No                     Yes

      Parent_Education_Level Family_Income_Level Stress_Level (1-10)  \
514                      PhD                 Low                   1
1921             High School                 Low                   5
3999                     PhD              Medium                   3
2121             High School              Medium                  10
4742              Bachelor's              Medium                   5

     Sleep_Hours_per_Night
514                    4.1
1921                   7.6
3999                   4.8
2121                   5.2
4742                   4.6

[5 rows x 23 columns]
Test Set :
     Student_ID First_Name Last_Name                       Email  Gender  Age  \
3737      S4737      Ahmed     Jones  student3737@university.com  Female   20
2626      S3626       Sara   Johnson  student2626@university.com    Male   23
1890      S2890       Sara  Williams  student1890@university.com  Female   24
974       S1974      Maria     Smith   student974@university.com    Male   23
1578      S2578       Emma     Davis  student1578@university.com  Female   23

       Department  Attendance (%)  Midterm_Score  Final_Score  ...  \
3737     Business           59.70          77.67        44.89  ...
2626           CS           98.77          75.56        74.40  ...
1890  Engineering           62.39          97.09        73.90  ...
974            CS           54.90          77.50        66.23  ...
1578  Engineering           63.30          71.04        50.76  ...

      Projects_Score  Total_Score  Grade  Study_Hours_per_Week  \
3737           51.13        74.44      F                  12.1
2626           71.26        66.34      B                  29.9
1890           70.77        76.66      D                  25.7
974            65.66        85.18      C                  22.0
1578           99.27        86.94      C                  28.7

      Extracurricular_Activities Internet_Access_at_Home  \
3737                         Yes                     Yes
2626                          No                      No
1890                          No                     Yes
974                           No                     Yes
1578                          No                     Yes

      Parent_Education_Level Family_Income_Level Stress_Level (1-10)  \
3737              Bachelor's                High                   9
2626              Bachelor's                 Low                  10
1890                Master's                 Low                   2
974                      PhD              Medium                   1
1578              Bachelor's                 Low                   1

     Sleep_Hours_per_Night
3737                   8.7
2626                   5.6
1890                   7.9
974                    4.6
1578                   8.9

[5 rows x 23 columns]